---
layout: default
title: Stickers
---

<div class="container contentBlock">
  <h1 class="subpage-titles">Stickers</h1>
  <div class="card-group">
    {% for post in site.posts %} {% if post.categories contains "stickers" %}
    <a
      href="{{ post.url | prepend: site.baseurl | replace: '//', '/'  | replace: 'index.html', ''}}"
    >
      <div class="card" style="min-width: 360px">
        <div class="card-body" style="text-align: center;">
          <div
            class="appicon"
            style="background: url({{post.icon}}) no-repeat; background-position: center; background-color: #ecf0f1; transform: scale(0.9);background-size: 100% 100%; background-position-y: 35px;background-size: 100% 100%; background-position-y: 35px;"></div>
          {{ post.title }}<br><small>{{post.platform}}</small>
        </div>
      </div>
    </a>
    {% endif %} {% endfor %}
  </div>
</div>
