<div class="container centered footer">
    <a href="https://www.instagram.com/loyiworks/" target="_blank"><i class="fab fa-instagram twink-contact"></i></a>
    <a href="https://twitter.com/_loyihsu" target="_blank"><i class="fab fa-twitter twink-contact"></i></a>
    <a href="https://www.buymeacoffee.com/loyihsu" target="_blank"><i class="fas fa-coffee twink-contact" style="padding-left: 10.5px"></i></a>
    <a href="mailto:{{site.email | url_encode }}" target="_blank"><i class="far fa-envelope twink-contact"></i></a>
    <p class="endtext"><small>Loyiworks・<a href="/privacy/">Privacy Policy</a>・<a href="https://site.loyi.dev/" target="_blank">Yu-Sung Hsu</a></small></p>
</div>