---
layout: default
title: Apps
---

<div class="container contentBlock">
  <h1 class="subpage-titles">Apps</h1>
  <div class="card-deck">
    {% for post in site.posts %} {% if post.categories contains "apps" %}
    <a
      href="{{ post.url | prepend: site.baseurl | replace: '//', '/'  | replace: 'index.html', ''}}"
    >
      <div class="card" style="min-width: 360px">
        <div class="card-body" style="text-align: center;">
          <div
            class="appicon"
            style="background: url({{post.icon}}) no-repeat; background-position: center; background-color: #ecf0f1; background-size: 60% 60%; opacity: 0.9; transform: scale(0.9);"></div>
          {{ post.title }} ({{post.platform}})
        </div>
      </div>
    </a>
    {% endif %} {% endfor %}
  </div>
</div>
